[project]
name = "beku-stackabletech"
version = "0.0.1"
authors = [
  { name="Razvan Mihai", email="razvan.mihai@stackable.tech" }
]
description = "Test suite expander for Stackable Kuttl tests."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.scripts]
beku = "beku:main"

[build-system]
requires = [
    "setuptools >= 40.6.2",
    "wheel >= 0.30.0"
]
build-backend = "setuptools.build_meta"

dependencies = [
  "Jinja2>=3.1.2"
]

[project.urls]
Homepage = "https://github.com/stackabletech/beku.py"
